<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Tushare Pull Control Panel</title>
    <style>
        table,
        table tr th,
        table tr td {
            border: 1px solid #0094ff;
        }
        {##}
        {#table {#}
        {#    width: 200px;#}
        {#    min-height: 25px;#}
        {#    line-height: 25px;#}
        {#    text-align: center;#}
        {#    border-collapse: collapse;#}
        {#    padding: 2px;#}
        {#}#}
    </style>
</head>
<body>
    <table>
        <tr>
            <th>Table</th>
            <th width="100px" >Ctl</th>
            <th width="200px">his</th>
            <th>operation</th>
            <th>delete</th>
        </tr>
        <tr>
            <td>stock_basic</td>
            <td>
                {{ stock_basic_ctl.cyc }}|{{ stock_basic_ctl.operate }}|
            </td>
            <td>{{ stock_basic_ctl.his }}</td>
            <td>
                {% if stock_basic_flag  %}
                    <a href="/{{ stock_basic_ctl.get_table_name() }}/process">{{ stock_basic_flag }}</a>
                {% endif %}
            </td>
            <th>
                {% if stock_basic_ctl.his  %}
                    <a href="/{{ stock_basic_ctl.get_table_name() }}/delete">delete</a>
                {% endif %}
            </th>
        </tr>


        <tr>
            <td>trade_cal</td>
            <td>
                {{ trade_cal_ctl.cyc }}|{{ trade_cal_ctl.operate }}|
            </td>
            <td>{{ trade_cal_ctl.his }}</td>
            <td>
                {% if trade_cal_flag  %}
                    <a href="/{{ trade_cal_ctl.get_table_name() }}/process">{{ trade_cal_flag }}</a>
                {% endif %}
            </td>
            <th>
                {% if trade_cal_ctl.his  %}
                    <a href="/{{ trade_cal_ctl.get_table_name() }}/delete">delete</a>
                {% endif %}
            </th>
        </tr>

        <tr>
            <td rowspan="2">index_weight</td>
            <td>
                {{ index_weight_ctl_510310.cyc }}|{{ index_weight_ctl_510310.operate }}|
            </td>
            <td>{{ index_weight_ctl_510310.biz_code }}|{{ index_weight_ctl_510310.his }}</td>
            <td>
                {% if index_weight_flag_510310  %}
                    <a href="/{{ index_weight_ctl_510310.get_table_name() }}/{{ index_weight_ctl_510310.biz_code }}/process">{{ index_weight_flag_510310 }}</a>
                {% endif %}
            </td>
            <th>
                {% if index_weight_ctl_510310.his  %}
                    <a href="/{{ index_weight_ctl_510310.get_table_name() }}/{{ index_weight_ctl_510310.biz_code }}/delete">delete</a>
                {% endif %}
            </th>
        </tr>
        <tr>
            <td>
                {{ index_weight_ctl_000016.cyc }}|{{ index_weight_ctl_000016.operate }}|
            </td>
            <td>{{ index_weight_ctl_000016.biz_code }}|{{ index_weight_ctl_000016.his }}</td>
            <td>
                {% if index_weight_flag_000016  %}
                    <a href="/{{ index_weight_ctl_000016.get_table_name() }}/{{ index_weight_ctl_000016.biz_code }}/process">{{ index_weight_flag_000016 }}</a>
                {% endif %}
            </td>
            <th>
                {% if index_weight_ctl_000016.his  %}
                    <a href="/{{ index_weight_ctl_000016.get_table_name() }}/{{ index_weight_ctl_000016.biz_code }}/delete">delete</a>
                {% endif %}
            </th>
        </tr>

        <tr>
            <td rowspan="2">income</td>
            <td>
                {{ income_ctl_sqy.cyc }}|{{ income_ctl_sqy.operate }}|
            </td>
            <td>{{ income_ctl_sqy.biz_code }}|{{ income_ctl_sqy.his }}</td>
            <td>
                {% if income_ctl_fag  %}
                    <a href="/{{ income_ctl_sqy.get_table_name() }}/{{ income_ctl_sqy.biz_code }}/process">{{ income_ctl_fag }}</a>
                {% endif %}
            </td>
            <th>
                {% if income_ctl_sqy.his  %}
                    <a href="/{{ income_ctl_sqy.get_table_name() }}/{{ income_ctl_sqy.biz_code }}/delete">delete</a>
                {% endif %}
            </th>
        </tr>

    </table>
</body>
</html>
