<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type = "text/javascript"
            src = "{{ url_for('static', filename = 'test.js') }}" ></script>
</head>

<body>
<hr>
{% block container %}
<H1>This is parent</H1>
{% endblock%}
<hr>


<h2>我是模板</h2>
{{ my_int }}
<br>
{{ my_str }}
<br>
{{ my_list }}
<br>
{{ my_dict }}
<hr>
<h2>模板的list数据获取</h2>
<hr>
{{ my_list[0] }}
<br>
{{ my_list.1 }}
<hr>
<h2>字典数据获取</h2>
<hr>
{{ my_dict['name'] }}
<br>
{{ my_dict.age }}
<hr>
<h2>算术运算</h2>
<br>
{{ my_list.0 + 10 }}
<br>
{{ my_list[0] + my_list.1 }}
<hr>
<input type = "button" onclick = "sayHello()" value = "Say Hello" />

<hr>
<center>macro inn</center>
{% macro show_in(str) %}
    <li>{{str}}</li>
{% endmacro %}
{% for str in my_list %}
{{ show_in(str) }}
{% endfor %}
<hr>
<center>macro import</center>
{% import 'demo/macro.html' as macros %}
{% for str in my_list %}
    {{ macros.show_li(str) }}
{% endfor %}
<hr>
<center>static</center>
<img src="/static/d.png"/>
<img src="{{url_for('static',filename='d.png')}}"/>

</body>

</html>
