<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        table,
        table tr th,
        table tr td {
            border: 1px solid #0094ff;
        }

        table {
            width: 200px;
            min-height: 25px;
            line-height: 25px;
            text-align: center;
            border-collapse: collapse;
            padding: 2px;
        }
    </style>
</head>
<body>
<table>
    <tr>
        <td>简单跳转</td>
        <td><a href="/demo/hello_url/aaa">go</a></td>
    </tr>
    <tr>
        <td>参数跳转</td>
        <td><a href="/demo/params/1231/2.1/dddd/?force=kknd">go</a></td>
    </tr>
    <tr>
        <td>重定向</td>
        <td><a href="/demo/redirect/url">url</a><br><a href="/demo/redirect/method">method</a></td>
    </tr>
    <tr>
        <td>methods</td>
        <td>
            <form action="/demo/methods/post" method="post">
                <p>Enter Name:</p>
                <p><input type="text" name="name"/></p>
                <p><input type="submit" value="submit"/></p>
            </form>
            <a href="/demo/methods/post?name=123">get</a>
        </td>
    </tr>
    <tr>
        <td>template</td>
        <td><a href="/demo/template">template</a></td>
    </tr>
    <tr>
        <td>template child</td>
        <td>
            <a href="/demo/template/child">template child</a>
            <a href="/demo/template/super">template super</a>
        </td>
    </tr>
    <tr>
        <td>cookies</td>
        <td>
            <a href="/demo/cookies/set">set</a>
            <a href="/demo/cookies/get">get</a>
            <a href="/demo/cookies/delete">delete</a>
        </td>
    </tr>
    <tr>
        <td>session</td>
        <td>
            <a href="/demo/session/set">set</a>
            <a href="/demo/session/get">get</a>
            <a href="/demo/session/delete">delete</a>
        </td>
    </tr>
    <tr>
        <td>error</td>
        <td>
            <a href="/demo/error/403">403</a>
        </td>
    </tr>
    <tr>
        <td>scripts</td>
        <td>
            <a href="/demo/scripts">scripts</a>
        </td>
    </tr>
    <tr>
        <td>test</td>
        <td>
            <a href="/demo/test">test</a>
        </td>
    </tr>
    <tr>
        <td>upload</td>
        <td>
            <form action="/demo/uploader" method="post" enctype="multipart/form-data">
                <input type="file" name="file" accept=".jpg,.png"/>
                <input type="submit"/>
            </form>
        </td>
    </tr>
</table>
</body>
</html>
